@model ZADALKHAIR.Models.FeedBack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedBack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CounrtyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CounrtyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Massege)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Massege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBackSatuts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedBackSatuts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatutsUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatutsUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedBackID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
