@model IEnumerable<ZADALKHAIR.Models.FeedBack>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2 class="text-white">Feedback</h2>
@if (Model != null && Model.Count() > 0)
{


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FeedBackID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FeedBackSatuts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SatutsUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.FeedBackID
                    </td>
                    <td>
                        @item.Name
                    </td>

                    <td>
                        (@item.CounrtyCode) @item.PhoneNumber
                    </td>
                    <td>
                        @item.FeedBackSatuts
                    </td>
                    <td>
                        @item.CreatedAt.ToString().Split(" ")[0]
                    </td>
                    <td>
                        @item.SatutsUpdate.ToString().Split(" ")[0]
                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @item.Sex
                    </td>
                    <td>
                        <button type="button" data-id="@item.FeedBackID" data-toggle="modal" class="btn details btn-primary" data-target="#exampleModalCenter">Details</button>
                        @if (!item.FeedBackSatuts)
                        {
                            <a asp-action="Update" asp-route-id="@item.FeedBackID" class="btn btn-success">Accept</a>
                        }
                        else
                        {
                            <a asp-action="Update" asp-route-id="@item.FeedBackID" class="btn btn-danger">Reject</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
else
{
    <div class="empty-state">

    </div>

    <!--<div class="empty-state__content">
        <div class="empty-state__icon">
            <img src="~/images/NoData.png" alt="">
        </div>
        <div class="empty-state__message">No records has been added yet.</div>-->
    @*<div class="empty-state__help">
            Add a new record by simpley clicking the button on top right side.
        </div>*@
    <!--</div>-->


}

@section Scripts {
    <script>
        $(function () {
            $(window).on("load", function () {

                $(".empty-state").load("/Admin/emptyData");

            });

            $('button.details').on('click', function () {
                $('.modal-content').load(`/Admin/Feedback/Details/injuction/${$(this).data('id')}`);
            });
        })
    </script>
}
