@model IEnumerable<ZADALKHAIR.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 class="text-white ml-3">Employees</h2>

<hr />

@if (Model != null && Model.Count() > 0)
{
    <div class="user-card-container container">
        <div class="row text-center">
            @foreach (var person in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="user-card">
                        <div class="box">
                            <div class="content">
                                <h2>@person.UserID</h2>
                                <h3>@person.UserFirstName @person.UserLastName</h3>
                                <h4 class="text-white"><i>@person.UserRoleType</i></h4>
                                <button data-id="@person.UserID" data-toggle="modal" class="btn-primary details" data-target="#exampleModalCenter">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-content').load(`/Admin/User/Details/injuction/${$(this).data('id')}`);
            });
        })
    </script>
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.USerCountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRoleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCreateAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPassword)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USerCountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPassword)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@