@model List<ZADALKHAIR.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2 class="text-white">Contact Us</h2>
@if (Model != null && Model.Count() > 0)
{
    

    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model??.ContactID"></label>

                </th>
                <th>
                    <label asp-for="@Model??.ContactName"></label>

                </th>
                <th>
                    <label asp-for="@Model??.ContactPhoneNumber"></label>

                </th>
                <th>
                    <label asp-for="@Model??.ContactSatuts"></label>

                </th>
                <th>
                    <label asp-for="@Model??.CreatedAt"></label>

                </th>
                <th>
                    <label asp-for="@Model??.SatutsUpdate"></label>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="thead-light">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ContactID
                    </td>
                    <td>
                        @item.ContactName
                    </td>
                    <td>
                        (@item.ContactCounrty) @item.ContactPhoneNumber
                    </td>
                    <td>
                        @item.ContactSatuts
                    </td>
                    <td>
                        @item.CreatedAt.ToString().Split(" ")[0]
                    </td>
                    <td>
                        @if (item.SatutsUpdate.ToString() == "1/01/0001 12:00:00 AM")
                        {
                            <p>Not Set</p>
                        }
                        else
                        {
                            @item.SatutsUpdate.ToString().Split(" ")[0];
                        }
                    </td>
                    <td>
                        <button type="button" data-id="@item.ContactID" data-toggle="modal" class="btn btn-primary details" data-target="#exampleModalCenter">Details</button>
                        @if (!item.ContactSatuts)
                        {
                            <a class="btn btn-success">Accept</a>
                        }
                        else
                        {
                            <a class="btn btn-danger">Make As Read</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
else
{
    <div class="empty-state">

        </div>

    <!--<div class="empty-state__content">
        <div class="empty-state__icon">
            <img src="~/images/NoData.png" alt="">
        </div>
        <div class="empty-state__message">No records has been added yet.</div>-->
        @*<div class="empty-state__help">
                Add a new record by simpley clicking the button on top right side.
            </div>*@
    <!--</div>-->


}

@section Scripts {
    <script>
        $(function () {
            $(window).on("load", function () {
                $(".empty-state").load("/Admin/emptyData");
            });

            $('button.details').on('click', function () {
                $('.modal-content').load(`/Admin/Contact/Details/injuction/${$(this).data('id')}`);
            });
        })
    </script>
}