@model IEnumerable<ZADALKHAIR.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@{
    int? contactId;
}

<h2 class="text-white">Contact Us</h2>

@if (Model != null)
{
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactSatuts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SatutsUpdate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="thead-light">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ContactID
                    </td>
                    <td>
                        @item.ContactName
                    </td>
                    <td>
                        (@item.ContactCounrty) @item.ContactPhoneNumber
                    </td>
                    <td>
                        @item.ContactSatuts
                    </td>
                    <td>
                        @item.CreatedAt.ToString().Split(" ")[0]
                    </td>
                    <td>
                        @if (item.SatutsUpdate.ToString() == "1/01/0001 12:00:00 AM")
                        {
                            <p>Not Set</p>
                        }
                        else
                        {
                            @item.SatutsUpdate.ToString().Split(" ")[0];
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContactID">Edit</a> |
                        <button type="button" data-id="@item.ContactID" data-toggle="modal" class="btn details" data-target="#exampleModalCenter">Details</button> |
                        <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(function () {
        $('button.details').on('click', function () {
            $('.modal-content').load(`/Admin/Contact/Details/injuction/${$(this).data('id')}`);
        });
    })
</script>
}